/* Add a black background color to the top navigation */
.topnav {
  background-color: #e10600;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #eb9d9b;
  color: black;
}

.main {
  padding-top: 40px;
  background-color: #f7f4f1;
  padding: 40px 40px 40px;
}

.inner-wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.resultsarchive-wrapper {
  background: #fff;
  margin-bottom: 40px;
}

.template {
  font-weight: 400;
  font-size: 4.2rem;
  font-family: 'F1BoldRegular', Helvetica, sans-serif;
}

.resultsarchive-content {
  padding-bottom: 45px;
}

.resultsarchive-content .table-wrap {
  padding: 0 26px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr th {
  padding: 18px 0px 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  font-size: 11px;
  font-size: 1.1rem;
}

tbody tr:nth-child(2n+1){background: #f4f4f4;}

.resultsarchive-table {
  margin: 0 0 25px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.red_button {
  color: white;
  background-color: red;
}

.green_button {
  color: white;
  background-color: green;
}

.code_block {
  border: 1px solid black;
}

h1, h2 {
  font-family: 'F1BoldRegular', Helvetica, sans-serif;
}

/* Drop down only */
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e10600;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}