<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0"> 
    
    <title>Formula 1 - CS 425</title>
    <meta name="description" content="The server for our foruth deliverable of Database Organization (CS 425) - Illinois Institute of Technology"/>
    <meta property="og:locale" content="en_US" />
    <link rel="stylesheet" href="theme.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/favicon.ico"/>
    <link rel="icon" sizes="192x192" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/icon192x192.png"/>
    <link rel="icon" sizes="128x128" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/icon128x128.png"/>
    <link rel="apple-touch-icon" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/icon128x128.png"/>
    <link rel="icon" sizes="32x32" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/favicon-32x32.png"/>
    <link rel="icon" sizes="16x16" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/favicon-16x16.png"/>
    <link rel="icon" sizes="32x32" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/favicon-32x32.png"/>
    <link rel="icon" sizes="16x16" href="https://media.formula1.comhttps://www.formula1.com/etc/designs/fom-website/favicon-16x16.png"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff2" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff2" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="https://www.formula1.com/etc/designs/fom-website/fonts/F1YEAR/F1YEARRegular.woff2" type="font/woff2" crossorigin="anonymous"/>
    
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <main class="main">
            <div class="inner-wrap resultsarchive-wrapper">
                <h1 class="template" style="font-family: 'F1BoldRegular'">2023 Driver Standings</h1>
                <table class="resultsarchive-table">
                    <thead>
                        <tr>
                            <th class="limiter"></th>
                            <th><abbr title="Position">Pos</abbr></th>
                            <th>Driver</th>
                            <th>Nationality</th>
                            <th>Car</th>
                            <th><abbr title="Points">PTS</abbr></th>
                            <th class="limiter"></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">1</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/MAXVER01/max-verstappen.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/MAXVER01/max-verstappen.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Max</span>
                                        <span class="hide-for-mobile">Verstappen</span>
                                    
                                    <span class="uppercase hide-for-desktop">VER</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">NED</td>
                            <td>
                                <a href="/en/results.html/2023/team/red_bull_racing_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/red_bull_racing_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">Red Bull Racing Honda RBPT</a>
                            </td>
                            <td class="dark bold">575</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">2</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/SERPER01/sergio-perez.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/SERPER01/sergio-perez.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Sergio</span>
                                        <span class="hide-for-mobile">Perez</span>
                                    
                                    <span class="uppercase hide-for-desktop">PER</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">MEX</td>
                            <td>
                                <a href="/en/results.html/2023/team/red_bull_racing_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/red_bull_racing_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">Red Bull Racing Honda RBPT</a>
                            </td>
                            <td class="dark bold">285</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">3</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/LEWHAM01/lewis-hamilton.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/LEWHAM01/lewis-hamilton.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Lewis</span>
                                        <span class="hide-for-mobile">Hamilton</span>
                                    
                                    <span class="uppercase hide-for-desktop">HAM</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">GBR</td>
                            <td>
                                <a href="/en/results.html/2023/team/mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/mercedes.html" class="grey semi-bold uppercase ArchiveLink">Mercedes</a>
                            </td>
                            <td class="dark bold">234</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">4</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/FERALO01/fernando-alonso.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/FERALO01/fernando-alonso.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Fernando</span>
                                        <span class="hide-for-mobile">Alonso</span>
                                    
                                    <span class="uppercase hide-for-desktop">ALO</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">ESP</td>
                            <td>
                                <a href="/en/results.html/2023/team/aston_martin_aramco_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/aston_martin_aramco_mercedes.html" class="grey semi-bold uppercase ArchiveLink">Aston Martin Aramco Mercedes</a>
                            </td>
                            <td class="dark bold">206</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">5</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/CHALEC01/charles-leclerc.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/CHALEC01/charles-leclerc.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Charles</span>
                                        <span class="hide-for-mobile">Leclerc</span>
                                    
                                    <span class="uppercase hide-for-desktop">LEC</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">MON</td>
                            <td>
                                <a href="/en/results.html/2023/team/ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/ferrari.html" class="grey semi-bold uppercase ArchiveLink">Ferrari</a>
                            </td>
                            <td class="dark bold">206</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">6</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/LANNOR01/lando-norris.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/LANNOR01/lando-norris.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Lando</span>
                                        <span class="hide-for-mobile">Norris</span>
                                    
                                    <span class="uppercase hide-for-desktop">NOR</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">GBR</td>
                            <td>
                                <a href="/en/results.html/2023/team/mclaren_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/mclaren_mercedes.html" class="grey semi-bold uppercase ArchiveLink">McLaren Mercedes</a>
                            </td>
                            <td class="dark bold">205</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">7</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/CARSAI01/carlos-sainz.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/CARSAI01/carlos-sainz.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Carlos</span>
                                        <span class="hide-for-mobile">Sainz</span>
                                    
                                    <span class="uppercase hide-for-desktop">SAI</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">ESP</td>
                            <td>
                                <a href="/en/results.html/2023/team/ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/ferrari.html" class="grey semi-bold uppercase ArchiveLink">Ferrari</a>
                            </td>
                            <td class="dark bold">200</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">8</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/GEORUS01/george-russell.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/GEORUS01/george-russell.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">George</span>
                                        <span class="hide-for-mobile">Russell</span>
                                    
                                    <span class="uppercase hide-for-desktop">RUS</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">GBR</td>
                            <td>
                                <a href="/en/results.html/2023/team/mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/mercedes.html" class="grey semi-bold uppercase ArchiveLink">Mercedes</a>
                            </td>
                            <td class="dark bold">175</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">9</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/OSCPIA01/oscar-piastri.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/OSCPIA01/oscar-piastri.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Oscar</span>
                                        <span class="hide-for-mobile">Piastri</span>
                                    
                                    <span class="uppercase hide-for-desktop">PIA</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">AUS</td>
                            <td>
                                <a href="/en/results.html/2023/team/mclaren_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/mclaren_mercedes.html" class="grey semi-bold uppercase ArchiveLink">McLaren Mercedes</a>
                            </td>
                            <td class="dark bold">97</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">10</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/LANSTR01/lance-stroll.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/LANSTR01/lance-stroll.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Lance</span>
                                        <span class="hide-for-mobile">Stroll</span>
                                    
                                    <span class="uppercase hide-for-desktop">STR</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">CAN</td>
                            <td>
                                <a href="/en/results.html/2023/team/aston_martin_aramco_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/aston_martin_aramco_mercedes.html" class="grey semi-bold uppercase ArchiveLink">Aston Martin Aramco Mercedes</a>
                            </td>
                            <td class="dark bold">74</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">11</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/PIEGAS01/pierre-gasly.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/PIEGAS01/pierre-gasly.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Pierre</span>
                                        <span class="hide-for-mobile">Gasly</span>
                                    
                                    <span class="uppercase hide-for-desktop">GAS</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">FRA</td>
                            <td>
                                <a href="/en/results.html/2023/team/alpine_renault.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alpine_renault.html" class="grey semi-bold uppercase ArchiveLink">Alpine Renault</a>
                            </td>
                            <td class="dark bold">62</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">12</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/ESTOCO01/esteban-ocon.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/ESTOCO01/esteban-ocon.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Esteban</span>
                                        <span class="hide-for-mobile">Ocon</span>
                                    
                                    <span class="uppercase hide-for-desktop">OCO</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">FRA</td>
                            <td>
                                <a href="/en/results.html/2023/team/alpine_renault.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alpine_renault.html" class="grey semi-bold uppercase ArchiveLink">Alpine Renault</a>
                            </td>
                            <td class="dark bold">58</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">13</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/ALEALB01/alexander-albon.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/ALEALB01/alexander-albon.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Alexander</span>
                                        <span class="hide-for-mobile">Albon</span>
                                    
                                    <span class="uppercase hide-for-desktop">ALB</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">THA</td>
                            <td>
                                <a href="/en/results.html/2023/team/williams_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/williams_mercedes.html" class="grey semi-bold uppercase ArchiveLink">Williams Mercedes</a>
                            </td>
                            <td class="dark bold">27</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">14</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/YUKTSU01/yuki-tsunoda.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/YUKTSU01/yuki-tsunoda.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Yuki</span>
                                        <span class="hide-for-mobile">Tsunoda</span>
                                    
                                    <span class="uppercase hide-for-desktop">TSU</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">JPN</td>
                            <td>
                                <a href="/en/results.html/2023/team/alphatauri_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alphatauri_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">AlphaTauri Honda RBPT</a>
                            </td>
                            <td class="dark bold">17</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">15</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/VALBOT01/valtteri-bottas.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/VALBOT01/valtteri-bottas.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Valtteri</span>
                                        <span class="hide-for-mobile">Bottas</span>
                                    
                                    <span class="uppercase hide-for-desktop">BOT</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">FIN</td>
                            <td>
                                <a href="/en/results.html/2023/team/alfa_romeo_ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alfa_romeo_ferrari.html" class="grey semi-bold uppercase ArchiveLink">Alfa Romeo Ferrari</a>
                            </td>
                            <td class="dark bold">10</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">16</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/NICHUL01/nico-hulkenberg.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/NICHUL01/nico-hulkenberg.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Nico</span>
                                        <span class="hide-for-mobile">Hulkenberg</span>
                                    
                                    <span class="uppercase hide-for-desktop">HUL</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">GER</td>
                            <td>
                                <a href="/en/results.html/2023/team/haas_ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/haas_ferrari.html" class="grey semi-bold uppercase ArchiveLink">Haas Ferrari</a>
                            </td>
                            <td class="dark bold">9</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">17</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/DANRIC01/daniel-ricciardo.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/DANRIC01/daniel-ricciardo.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Daniel</span>
                                        <span class="hide-for-mobile">Ricciardo</span>
                                    
                                    <span class="uppercase hide-for-desktop">RIC</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">AUS</td>
                            <td>
                                <a href="/en/results.html/2023/team/alphatauri_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alphatauri_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">AlphaTauri Honda RBPT</a>
                            </td>
                            <td class="dark bold">6</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">18</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/GUAZHO01/guanyu-zhou.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/GUAZHO01/guanyu-zhou.html" class="dark bold ArchiveLink">
                                    
                                        <span class="hide-for-mobile">Zhou</span>
                                        <span class="hide-for-tablet">Guanyu</span>
                                    
                                    
                                    <span class="uppercase hide-for-desktop">ZHO</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">CHN</td>
                            <td>
                                <a href="/en/results.html/2023/team/alfa_romeo_ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alfa_romeo_ferrari.html" class="grey semi-bold uppercase ArchiveLink">Alfa Romeo Ferrari</a>
                            </td>
                            <td class="dark bold">6</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">19</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/KEVMAG01/kevin-magnussen.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/KEVMAG01/kevin-magnussen.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Kevin</span>
                                        <span class="hide-for-mobile">Magnussen</span>
                                    
                                    <span class="uppercase hide-for-desktop">MAG</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">DEN</td>
                            <td>
                                <a href="/en/results.html/2023/team/haas_ferrari.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/haas_ferrari.html" class="grey semi-bold uppercase ArchiveLink">Haas Ferrari</a>
                            </td>
                            <td class="dark bold">3</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">20</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/LIALAW01/liam-lawson.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/LIALAW01/liam-lawson.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Liam</span>
                                        <span class="hide-for-mobile">Lawson</span>
                                    
                                    <span class="uppercase hide-for-desktop">LAW</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">NZL</td>
                            <td>
                                <a href="/en/results.html/2023/team/alphatauri_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alphatauri_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">AlphaTauri Honda RBPT</a>
                            </td>
                            <td class="dark bold">2</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">21</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/LOGSAR01/logan-sargeant.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/LOGSAR01/logan-sargeant.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Logan</span>
                                        <span class="hide-for-mobile">Sargeant</span>
                                    
                                    <span class="uppercase hide-for-desktop">SAR</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">USA</td>
                            <td>
                                <a href="/en/results.html/2023/team/williams_mercedes.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/williams_mercedes.html" class="grey semi-bold uppercase ArchiveLink">Williams Mercedes</a>
                            </td>
                            <td class="dark bold">1</td>
                            <td class="limiter"></td>
                        </tr>
                    
                        <tr>
                            <td class="limiter"></td>
                            <td class="dark">22</td>
                            <td>
                                <a href="/en/results.html/2023/drivers/NYCDEV01/nyck-de-vries.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/drivers/NYCDEV01/nyck-de-vries.html" class="dark bold ArchiveLink">
                                    
                                    
                                        <span class="hide-for-tablet">Nyck</span>
                                        <span class="hide-for-mobile">De Vries</span>
                                    
                                    <span class="uppercase hide-for-desktop">DEV</span>
                                </a>
                            </td>
                            <td class="dark semi-bold uppercase">NED</td>
                            <td>
                                <a href="/en/results.html/2023/team/alphatauri_honda_rbpt.html" data-ajax-url="/content/fom-website/en/results/jcr:content/resultsarchive.html/2023/team/alphatauri_honda_rbpt.html" class="grey semi-bold uppercase ArchiveLink">AlphaTauri Honda RBPT</a>
                            </td>
                            <td class="dark bold">0</td>
                            <td class="limiter"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>